.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table {
    border: 1px solid;
}

.row {
  text-align: center;
}
.row:hover{
  background-color: cyan;
  color: black;
}

.cell{
  padding: 10px;
}

.buttonsContainer{
padding: 1%;
}

.input{
  font-size: large;
  font-weight: bold;
  color: skyblue;
  padding: 8px;
  margin-bottom: 5px;
}

.addButton{
  font-size: large;
  font-weight: bold;
  color: black;
  padding: 8px;
  background-color: white;
  margin-bottom: 5px;

}

.addButton:hover{
  font-size: large;
  font-weight: bold;
  color: black;
  padding: 8px;
  background-color: grey;
}

.button{
  font-family: fantasy;
  font-size: large;
  font-weight: bold;
  color: black;
  padding: 8px;
}
.button:hover{
  background-color: blue;

}

.results{
  border: 1px #5959f1 solid;
  padding: 2%;
  text-align: center;
}

.p {
  color: skyblue;
  font-style: oblique;
  font-size: xx-large;
  font-weight: 500;
}


.pContent {
  font-family: courier;
  color: white;
  padding: 45px;
  border: black solid .5px;
  font-size: larger;
}

.b {
  border: wheat solid .5px;
  padding: 45px;
  width: 50%;
  margin: auto;
}